@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

:root {
  --mainColor: #09bce0;
  --secondaryColor: #e0b509;
  --linkColor: #707070;
  --linkHoverColor: #b5b5b5;
  --headerGray: #e5e5e5;
  --headerWhite: #f2f2f4;
  --scrollbarBG: #ebebeb;
  --thumbBG: #c5c5c5;
}

body {
  margin-bottom: 100px;
}

*::-webkit-scrollbar {
  width: 8px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
